{% extends "quiz_app/layout.html" %}
{% block title %}
Profile Page
{% endblock %}

{% block content %}
<div class="container-fluid" id="profile">
	<ul class="sidenav">
		<li><a href="#about">Tests</a></li>
		<li><a href="#services">Profile</a></li>
		<li><a href="#clients">Clients</a></li>
		<li><a href="#contact">Contact</a></li>
	</ul>

	<main>
		<ul class="nav nav-tabs">
			<li class="nav-item">
			  <a class="nav-link active" data-toggle="tab" href="#hom">Current Tests</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" data-toggle="tab" href="#menu1">Upcoming Test</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" data-toggle="tab" href="#menu2">Past Tests</a>
			</li>
		  </ul>
		  
		  <div class="tab-content">
			<div class="tab-pane container active" id="hom">...</div>
			<div class="tab-pane container fade" id="menu1">...</div>
			<div class="tab-pane container fade" id="menu2">...</div>
		  </div>
		

		<small>
			{% for quizTaker in past %}
			{{ quizTaker }} <br>
			{{ quizTaker.user }} <br>
			{{ quizTaker.quiz }}
			{% endfor %}

			{% for quizTaker in current %}
			{{ quizTaker }} <br>
			{{ quizTaker.user }} <br>
			{{ quizTaker.quiz }}
			{% endfor %}

			{% for quizTaker in upcoming %}
			{{ quizTaker }} <br>
			{{ quizTaker.user }} <br>
			{{ quizTaker.quiz }}
			{% endfor %}
		</small>
	</main>
	
			
</div>
{% endblock %}