{% extends "registration/base_form.html" %}

{% block title %}
	SignUp
{% endblock %}


{% block formBlock %}
<div class="formBlock">
  	<h2 class="text-center">Sign Up</h2>
	<form method="post">
		{% csrf_token %}
		{% for field in form %}
			<div class="form-group">
				<label for={{ field.auto_id }}>
					{% if field.label == "Username" %} Email {% else %}{{ field.label }}{% endif %}
				</label>
				<input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" 
					type={% if field.html_name is "username" %}email{% else %}password{% endif %} 
					autocapitalize="none" required=""/> 
				<!-- {{ field.errors }} -->				
			</div>
		{% endfor %}  
    <button type="submit" class="btn btn-block btn-purple mt-3">Submit</button>
  </form>
</div>


<!-- <div class="modal fade" id="signupModal">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="modal-title text-center">Sign Up</h2><br>
                <form action="/register" method="POST">
                    {% comment %} {{ registrationForm.hidden_tag() }}
                    <div class="form-group">
                        {{ registrationForm.email.label(class="control-label") }}
                        {{ registrationForm.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ registrationForm.password.label(class="control-label") }}
                        {{ registrationForm.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ registrationForm.confirm_password.label(class="control-label") }}
                        {{ registrationForm.confirm_password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ registrationForm.registrationSubmit(class="btn btn-block btn-purple") }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Already have an account? <a href="#loginModal"
                                data-dismiss="modal" data-toggle="modal" class="form-link">Log In</a></label>
                    </div> {% endcomment %}
                </form>
            </div>
        </div>
    </div>
</div> -->


{% endblock %}