{% extends "registration/base_form.html" %}

{% block title %}
{% endblock %}


{% block formBlock %}
<h2>Sign Up</h2>

<form method="post" novalidate>
    {% csrf_token %}
  
    {{ form.non_field_errors }}
  
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}
  
    <table border="1">
      {% for field in form.visible_fields %}
        <tr>
          <th>{{ field.label_tag }}</th>
          <td>
            {{ field.errors }}
            {{ field }}
            <p>{{ field.help_text }}</p>
          </td>
        </tr>
      {% endfor %}
    </table>
  
    <button type="submit">Submit</button>
  </form>


<!-- <div class="modal fade" id="signupModal">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="modal-title text-center">Sign Up</h2><br>
                <form action="/register" method="POST">
                    {% comment %} {{ registrationForm.hidden_tag() }}
                    <div class="form-group">
                        {{ registrationForm.email.label(class="control-label") }}
                        {{ registrationForm.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ registrationForm.password.label(class="control-label") }}
                        {{ registrationForm.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ registrationForm.confirm_password.label(class="control-label") }}
                        {{ registrationForm.confirm_password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ registrationForm.registrationSubmit(class="btn btn-block btn-purple") }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Already have an account? <a href="#loginModal"
                                data-dismiss="modal" data-toggle="modal" class="form-link">Log In</a></label>
                    </div> {% endcomment %}
                </form>
            </div>
        </div>
    </div>
</div> -->


{% endblock %}