{% extends "quiz_app/layout.html" %}
{% block title %}
Home page
{% endblock %}

{% block content %}
<div class="row justify-content-center" id="home">
	<div class="home_div col-4">
		<div class="home_div_content">
			<h2>Welcome</h2>
			<br>
			{% if not request.user.is_authenticated %}
			<h5>Please Enter Login Credentials and the Quiz Code:</h5>
			{% else %}
			<h5>Please Enter the Quiz Code:</h5>
			{% endif %}
			<form class="quiz_form" action="" method="POST" id="codeForm">
				{% csrf_token %}
				{{ quizForm.email }}
				{{ quizForm.password }}
				{{ quizForm.key }}
				<input type="submit" class="btn">
			</form>
		</div>
	</div>
</div>
{% endblock %}