{% extends "quiz_app/layout.html" %}

{% block title %}
{{ quiz.title | title }}
{% endblock %}

{% block content %}

<div class="quiz-started">
	<div class="outer">
		<div class="middle">
			<div class="inner" style="text-align: center;">
				<div class="row">
					<div class="col m-auto">
						<h1>Instructions</h1>
						<ul>
							{% for instruction in quiz.instructions.splitlines %}
							<li>{{ instruction }}</li>
							{% endfor %}
						</ul>
					</div>
					<div class="col my-5">
						<form class="quiz_pwd_form" style="min-width:250px; width:fit-content">
							<a class="start_test" href="{% url 'quiz' quiz.quiz_id%}">Please Login to continue</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}