{% extends "quiz_app/layout.html" %}

{% block title %}
{{ quiz.title | title }}
{% endblock %}

{% block content %}

<div class="quiz-started">

	<div class="row inner">
		<div class="col-12 col-md-7 instructions">
			<h1 class="text-center">Instructions</h1>
			<ol class="instruction-list mx-auto my-0">
				{% for instruction in quiz.instructions.splitlines %}
					<li>{{ instruction }}</li>
				{% endfor %}
			</ol>
		</div>
		<div class="col-12 col-md-5 my-5 d-flex justify-content-center align-content-center" style="height: 100%;">
			<form class="" style="min-width:250px; width:fit-content">
				<a class="start_test" href="{% url 'quiz' quiz.quiz_id%}">Start Test</a>
			</form>
		</div>
	</div>

</div>

{% endblock %}