{% extends "quiz_app/base_test.html" %}

{% block title %}
{{ quiz.title | title }}
{% endblock %}

{% block content %}
<div id="testPage">
	<div class="container">
		<div class="wrapper mt-5">
			<div class="main">
				<div class="question">
					<h1>1. What is the full form of CSS ?</h2>
				</div>
				<form id="myForm">
					<div class="options" id="options">
						<div class="option option1">
							<input type="radio" name="que" value="1" id="opt1"> 
							<label for="opt1">a. <span id="o1">JavaScript</span></label>
						</div>
						<div class="option">
							<input type="radio" name="que" value="2" id="opt2"> 
							<label for="opt2">b. HTML</label>
						</div>
						<div class="option">
							<input type="radio" name="que" value="3" id="opt3"> 
							<label for="opt3">c. Java</label>
						</div>
						<div class="option">
							<input type="radio" name="que" value="4" id="opt4"> 
							<label for="opt4">d. Cascading Style Sheet Cascading Style Sheet</label>
						</div>
					</div>
					<div>
						<button class="btn btn-primary mt-3" id="btn-next" type="submit">Next</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}