{% extends "quiz_app/layout.html" %}

{% block title %}
{{ quiz.title | title }}
{% endblock %}

{% block content %}

<div class="quiz-started">

	<div class="row inner">
		<div class="col-12 col-md-7 instructions">
			<h1 class="text-center">Instructions</h1>
			<ol class="instruction-list mx-auto my-0">
				{% for instruction in quiz.instructions.splitlines %}
				<li>{{ instruction }}</li>
				{% endfor %}
			</ol>
		</div>
		<div class="col-12 col-md-5 my-5 d-flex justify-content-center align-content-center" style="height: 100%;">
			<form method="POST" class="" style="min-width:250px; width:fit-content">
				{% csrf_token %}
				<input type="submit" class="start_test" value="Submit">
			</form>
		</div>
	</div>

</div>
<script>
	let quiz_id = `{{ quiz.quiz_id}}`;
	console.log(quiz_id);
	let testStartBtn = document.getElementById("test-start-btn");
	testStartBtn.addEventListener("click", function(e){
		e.preventDefault();
		console.log("button clicked");
		alertForFullScreen();
		openFullScreen();
		window.location.pathname=`/quiz/${quiz_id}`;
	});

	function alertForFullScreen(){
		Swal.fire({
			icon: 'info',
			title: 'Full Screen',
			html: 'You are required to enter in Full Screen',
			position: 'top',
			timerProgressBar: false,
			showConfirmButton: true,
			// timer: 1500
		});
	}

	function openFullScreen(){
		document.documentElement.requestFullscreen();
		let elem = document.documentElement;
		if (elem.requestFullscreen) {
			elem.requestFullscreen();
		} else if (elem.webkitRequestFullscreen) { /* Safari */
			elem.webkitRequestFullscreen();
		} else if (elem.msRequestFullscreen) { /* IE11 */
			elem.msRequestFullscreen();
		}
	}
</script>

{% endblock %}