{% extends "quiz_app/base_test.html" %}

{% block title %}
{{ quiz.title | title }}
{% endblock %}

{% block content %}
<div id="testPage">
    <div class="container">
        <div class="wrapper mt-5">
            <div class="main">
                <div class="question">
                    <p id="q-title">1. What is the full form of CSS ?</p>
                    <p id="q-marks" class="p-2">Marks: 5</p>
                </div>
                <small class="small">Please select an option</small>
                <form id="opForm">
                    <div class="options" id="q-options">
                        <div class="option">
                            <input type="radio" name="que" value="1" id="opt1">
                            <label for="opt1"><span>A. </span> <span id="o1">JavaScript</span></label>
                        </div>
                        <div class="option">
                            <input type="radio" name="que" value="2" id="opt2">
                            <label for="opt2"><span>B. </span> <span>HTML</span></label>
                        </div>
                        <div class="option">
                            <input type="radio" name="que" value="3" id="opt3">
                            <label for="opt3"><span>C. </span> <span>Java</span></label>
                        </div>
                        <div class="option">
                            <input type="radio" name="que" value="4" id="opt4">
                            <label for="opt4"><span>D. </span> <span>Cascading Style Sheet Cascading Style SheetCascading Style Sheet Cascading Style SheetCascading Style Sheet Cascading Style Sheet</span></label>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-3" id="btn-submit" type="submit">Next</button>
                </form>
            </div>
        </div>
    </div>
</div>




<script>

	var questions = {{ questions|safe }};
	var quiz_id;

	var shuffle;
	var storage = sessionStorage;

	var queNo = 0;
	var totalQues;
	var qTitle = document.getElementById("q-title");
	var qMarks = document.getElementById("q-marks");
	var options = document.getElementById("q-options");
	var submitQueBtn = document.getElementById("btn-submit");
	var opForm = document.getElementById("opForm");
	
	function loadQuestion(questions, no){
		let question = questions[no];
		if(no >= totalQues-1)
			submitQueBtn.innerText = "Submit";

		qTitle.innerText = `${no+1}. ${question.title}`;
		qMarks.innerText = `${(question.marks) > 1 ? 'Marks: ': 'Mark: '} ${question.marks}`;
		loadOptions(question);
	}

	function loadOptions(question){
		options.innerHTML = "";
		options_array = []

		if(question.choice_1){
			options_array.push(question.choice_1)
		}
		if(question.choice_2){
			options_array.push(question.choice_2)
		}
		if(question.choice_3){
			options_array.push(question.choice_3)
		}
		if(question.choice_4){
			options_array.push(question.choice_4)
		}
		if(question.choice_5){
			options_array.push(question.choice_5)
		}
		if(question.isShuffle) {
			shuffleArray(options_array);
		}
		for(let i=0; i<options_array.length; i++) {
			options.innerHTML += createOption(options_array[i], String.fromCharCode(65+i));
		}
	}

	function createOption(choice, choiceNo){
		let res = `<div class="option">
						<input type="radio" name="que" value="${choice}" id="opt${choiceNo}" required checked> 
						<label for="opt${choiceNo}"><span>${choiceNo}. </span> <span id="">${choice}</span></label>
					</div>`;
		return res;
	}

	function addToStorage(questions){
		storage.setItem("questions", JSON.stringify(questions));
	}	

	function shuffleArray(array) {
		for (let i = array.length - 1; i > 0; i--) {
			const j = Math.floor(Math.random() * (i + 1));
			[array[i], array[j]] = [array[j], array[i]];
		}
	}

	function setupSubmitBtn(){
		submitQueBtn.addEventListener("click", function(e){
			e.preventDefault();
			console.log("Clicked");
			let selectAns = opForm.que.value;

			// option not selected - show alert on click
			if(!selectAns){
				Swal.fire({
					icon: 'error',
					title: 'Error',
					html: 'Please select an answer',
					position: 'top',
					timerProgressBar: false,
					showConfirmButton: true
				});
				return false;
			}

			// valid select
			if(queNo < totalQues)
				loadQuestion(questions, queNo++);
			else{
				// Show the results
				showResults();
			}
		})
	}

	function showResults(){
		window.location.pathname = `/quiz/${quiz_id}/result`;
	}

	function init()	{
		questions = {{ questions|safe }};
		addToStorage(questions);
		console.log(questions);
		totalQues = questions.length;
		queNo = 0;
		if(totalQues > 0) loadQuestion(questions, queNo++);
		quiz_id = questions[0].quiz;
		setupSubmitBtn();
	}
	init();

</script>

{% endblock %}