{% extends "quiz_app/base_test.html" %}

{% block title %}
{{ quiz.title | title }}
{% endblock %}

{% block content %}
<div id="testPage">
    <div class="container">
        <div class="wrapper mt-5">
            <div class="main">
                <div class="question">
                    <p id="q-title"></p>
                    <p id="q-marks" class="p-2">Marks: 1</p>
                </div>
                <small class="small">Please select an option</small>
                <form id="opForm">
                    {% csrf_token %}
                    <div class="options" id="q-options">
                        <div class="option">
                            <input type="radio" name="que" value="1" id="opt1">
                            <label for="opt1"><span>A. </span> <span id="o1"></span></label>
                        </div>
                        <div class="option">
                            <input type="radio" name="que" value="2" id="opt2">
                            <label for="opt2"><span>B. </span> <span></span></label>
                        </div>
                        <div class="option">
                            <input type="radio" name="que" value="3" id="opt3">
                            <label for="opt3"><span>C. </span> <span></span></label>
                        </div>
                        <div class="option">
                            <input type="radio" name="que" value="4" id="opt4">
                            <label for="opt4"><span>D. </span> <span></span></label>
                        </div>
                    </div>
                    {% if quiz.allow_backtracking %}
                    <button class="btn btn-primary mt-3" id="btn-prev" type="submit">Prev</button>
                    {% endif %}
                    <button class="btn btn-primary mt-3" id="btn-submit" type="submit">Submit</button>
                    <button class="btn btn-primary mt-3" id="btn-next" type="submit">Next</button>
                </form>
            </div>
        </div>
    </div>
</div>




<script>

	var questions;
	var responses;
	var quiz_id;

	var remaining_time;

	var shuffle;

	var queNo = 0;
	var totalQues;
	var qTitle = document.getElementById("q-title");
	var qMarks = document.getElementById("q-marks");
	var options = document.getElementById("q-options");
	{% if quiz.allow_backtracking %}
	var prevQueBtn = document.getElementById("btn-prev");
	{% endif %}
	var submitQueBtn = document.getElementById("btn-submit");
	var nextQueBtn = document.getElementById("btn-next");
	var opForm = document.getElementById("opForm");
	
	function loadQuestion(questions, no){
		{% if quiz.allow_backtracking %}
		if(no == 0) {
			prevQueBtn.disabled = true;
		}
		else {
			prevQueBtn.disabled = false;
		}
		{% else %}
		if(no >= totalQues-1) {
			showResults();
			return false;
		}
		let response = responses[no]["answer"]
		if(response) {
			queNo++;
			loadQuestion(questions, queNo);
			return false;
		}
		{% endif %}

		let question = questions[no];
		if(no >= totalQues-1)
			nextQueBtn.innerText = "Finish Test";
		else
			nextQueBtn.innerText = "Next";

		qTitle.innerText = `${no+1}. ${question.title}`;
		qMarks.innerText = `${(question.marks) > 1 ? 'Marks: ': 'Mark: '} ${question.marks}`;
		loadOptions(question);
		$("input[name=que]").val([responses[queNo]["answer"]]);
	}

	function loadOptions(question){
		options.innerHTML = "";
		question["options_array"].forEach(function(option,i) {
			options.innerHTML += createOption(option, String.fromCharCode(65+i));
		});
	}

	function createOption(choice, choiceNo){
		let res = `<div class="option">
						<input type="radio" name="que" value="${choice}" id="opt${choiceNo}" required> 
						<label for="opt${choiceNo}"><span>${choiceNo}. </span> <span id="">${choice}</span></label>
					</div>`;
		return res;
	}

	function shuffleArray(array) {
		for (let i = array.length - 1; i > 0; i--) {
			const j = Math.floor(Math.random() * (i + 1));
			[array[i], array[j]] = [array[j], array[i]];
		}
	}

	function shuffleOptions(questions) {
		questions.forEach(function(question) {
			options_array = []
			if(question.choice_1)
				options_array.push(question.choice_1)
			if(question.choice_2)
				options_array.push(question.choice_2)
			if(question.choice_3)
				options_array.push(question.choice_3)
			if(question.choice_4)
				options_array.push(question.choice_4)
			if(question.choice_5)
				options_array.push(question.choice_5)
			if(question.isShuffle)
				shuffleArray(options_array);
			question["options_array"] = options_array;
		});
	}

	function setupPrevBtn() {
		prevQueBtn.addEventListener("click", function(e){
			e.preventDefault();
			loadQuestion(questions, --queNo);
			prevQueBtn.blur();
		});
	}

	function setupSubmitBtn(){
		submitQueBtn.addEventListener("click", function(e){
			e.preventDefault();
			console.log("Clicked");
			let selectAns = opForm.que.value;

			// option not selected - show alert on click
			if(!selectAns){
				Swal.fire({
					icon: 'error',
					title: 'Error',
					html: 'Please select an answer',
					position: 'top',
					timerProgressBar: false,
					showConfirmButton: true
				});
				return false;
			}

			$.ajax({
				type: "POST",
				url: 'response/save/',
				data: {
					quizTaker: {{quizTaker.pk}},
					question: questions[queNo].id,
					answer: selectAns,
					csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
				},
				success:function() {
					Swal.fire({
						toast: true,
						position: 'top-end',
						icon: 'success',
						html: 'Response Saved',
						animation: true,
						timer: 1000,
						timerProgressBar: true,
						showConfirmButton: false,
					});
				},
				error:function() {
					Swal.fire({
						toast: true,
						position: 'top-end',
						icon: 'error',
						html: `Response Couldn't be Saved<br>Please Try Again`,
						animation: true,
						timer: 1000,
						timerProgressBar: true,
						showConfirmButton: false,
					});
				}
			}).done(function() {
				responses[queNo]["answer"] = selectAns;
				submitQueBtn.blur();
			}).fail(function() {
				//$("input[name=que]").val([]);
			});

		});
	}


	function setupNextBtn() {
		nextQueBtn.addEventListener("click", function(e){
			e.preventDefault();
			if(queNo < totalQues - 1)
				loadQuestion(questions, ++queNo);
			else{
				showResults();
			}
			nextQueBtn.blur();
		});
	}


	function showResults(){
		$.ajax({
			type: "POST",
			url: 'completed/',
			data: {
				quizTaker: {{quizTaker.pk}},
				csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
			},
		}).done(function() {
			window.location.pathname = `/quiz/{{ quiz.pk }}/result`;
		})
	}

	function setup_timer(){
		remaining_time = {{quizTaker.time_remaining}}|0;
		let show_timer_warning = true;
		function update_timer() {
			remaining_time--;
			$("#timer").text(`Time Left: ${(remaining_time/60|0).toString().padStart(2, '0')}:${(remaining_time%60).toString().padStart(2, '0')}`);

			if(remaining_time <= 300 && show_timer_warning) {
				show_timer_warning = false;

				Swal.fire({
					toast: true,
					position: 'top-end',
					icon: 'warning',
					text: ` ${Math.ceil(remaining_time/60)} Minutes Left`,
					animation: true,
					timer: 3000,
					showConfirmButton: false,
				});
				$("#timer").css({"color":"red"}).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
			} 

			if(remaining_time <= 0) {
				clearInterval(timer_interval);
				showResults();
				Swal.fire({
					icon: 'warning',
					title: 'Time Is Up',
					html: 'Test Is Auto Submitting',
					position: 'center',
					showConfirmButton: false,
					allowOutsideClick: false
				});
				return;
			}
		}
		update_timer();
		var timer_interval = setInterval(update_timer, 1000);
	}

	function init()	{
		questions = {{ questions|safe }};
		responses = {{ responses|safe }};
		shuffleOptions(questions);
		console.log(questions);
		console.log(responses);
		totalQues = questions.length;
		queNo = 0;
		if(totalQues > 0) loadQuestion(questions, queNo);
		quiz_id = `{{quiz.quiz_id}}`;
		setup_timer();
		{% if quiz.allow_backtracking %}
		setupPrevBtn();
		{% endif %}
		setupSubmitBtn();
		setupNextBtn();
	}
	init();

</script>

{% endblock %}