.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.formBlock {
    background: rgba(0, 0, 0, .39);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 40px 40px;
    border-radius: 8px;
    width: 450px;
}

a.form-link {
    color: #fff;
}

a.form-link:hover {
    color: #eee;
    border-color: #eee;
}

input[type=submit]:hover {
    cursor: pointer;
}