*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: rgb(210, 210, 210);
    overflow-x: hidden;
}

.navbar {
    background-color: #6b1c89;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    z-index: 1;
    padding: 20px 100px 10px 100px;
}
#home,
.quiz-started,
#quiz_result,
.container-form
{
    min-height: calc(100vh - 70px - 70px);
}
#quiz_result
{
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#quiz_result div:nth-child(1)
{
    width:100%;
}
.shadow
{
    box-shadow: 2px 5px 10px 10px rgba(0, 0, 0, 0.2);
}
#quiz_result .content
{
    padding:20px 10px;
    box-shadow: 2px 5px 10px 10px rgba(0, 0, 0, 0.2);
}
#quiz_result .content .row
{
    margin:5px  auto;
    font-weight: bold;
}
#quiz_result .content .row .score
{
    font-size:30px;
}
#quiz_result .content .row .progress,
#quiz_result .content .row .progress-bar
{
    height:25px;
}
#quiz_result .description
{
    box-shadow: 2px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

#quiz_result .description .table
{
    color:#fff;
    margin-bottom: 0;
}
#quiz_result .description thead tr
{
    background: #6b1c89;
}
#quiz_result .description tr th,
#quiz_result .description tr td
{
    vertical-align: middle;
}
.footer
{
    height: 70px;
    background: #6b1c89;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}