:root {
    --nav: #2980b9;
    --blue: #2980b9;
    --purple: #6b1c89;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(210, 210, 210);
    overflow-x: hidden;
}

.navbar {
    /* background-color: #6b1c89; */
    background-color: var(--nav);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    z-index: 1;
    padding: 20px 100px 10px 100px;
    position: sticky;
    top:0;
}

#home,
.quiz-started,
#quiz_result,
.container-form,
#profile
{
    min-height: calc(100vh - 70px - 70px);
}

#home {
    /* background:url('https://source.unsplash.com/random/1600%C3%971600/?laptop'); */
    background: url('../images/bg1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.home_div_content {
    padding: 60px 50px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 998px) {
    #home {
        background-position: top;
        background-size: 300%;
    }

    .home_div_content {
        padding: 50px 30px;
    }
}

#quiz_result {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#quiz_result div:nth-child(1) {
    width: 100%;
}

.shadow {
    box-shadow: 2px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

#quiz_result .content {
    padding: 20px 10px;
    box-shadow: 2px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

#quiz_result .content .row {
    margin: 5px auto;
    font-weight: bold;
}

#quiz_result .content .row .score {
    font-size: 30px;
}

#quiz_result .content .row .progress,
#quiz_result .content .row .progress-bar {
    height: 25px;
}

#quiz_result .description {
    box-shadow: 2px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

#quiz_result .description .table {
    color: #fff;
    margin-bottom: 0;
}

#quiz_result .description thead tr {
    background: #6b1c89;
}

#quiz_result .description tr th,
#quiz_result .description tr td {
    vertical-align: middle;
}

#quiz_result .description tr td pre {
    display: inherit;
    color: inherit;
}

.footer {
    height: 70px;
    background: var(--nav);
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:2;
}
#profile
{
    background: #fff;
}
#profile .sidenav 
{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 0;
    background:#fff;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    padding-top: 20px;
}
  
#profile .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
  
#profile .sidenav a:hover {
    color: #222222;
}
#profile main 
{
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
}

